[user]
	name = Faith Ekstrand
	email = faith.ekstrand@collabora.com

[core]
	editor = vim

[push]
	default = simple

[apply]
	whitespace = fix

[color]
	ui = auto

[alias]
    cite = log -1 --abbrev=12 '--format=%h (\"%s\")'

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
